<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div>
    <h2><a href='/logout'>Logout</a></h2><br>

    
    <span th:if="${!isLoggedIn}">
        <p th:text="${loginErrorMessage}"></p>
        <form action='/login' method="post">
            <label for='username'>Username</label><br>
            <input type='text' id='username' name='username' value='' required><span th:if="${userErrorMessage}" th:text="${userErrorMessage}"></span><br>
            <label for='pass'>Password</label><br>
            <input type='password' id='password' name='password' value='' required><br><br>
            <input type='submit' value='Login'> 
        </form>
        <br>
        <form action='/registerApplicant' method='get'>
            <button name="register" type="submit" value="regiser"> Create Account</button>
            </form>
        
    </span>

    <span th:if="${isLoggedIn}">
        <h2><p th:text="${name}">Test</p></h1>

    </span>
</div>
</body>
</html>