<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div>
    <p th:text="${loginErrorMessage}"></p>
    <form action='/login' method="post">
        <label for='username'>Username</label><br>
        <input type='text' id='username' name='username' value='' required><br>
        <label for='pass'>Password</label><br>
        <input type='password' id='password' name='password' value='' required><br><br>
        <input type='submit' value='login'>
    </form>
    <h1><p th:text="${username}"></p></h1>
    <h1><p th:text="${password}"></p></h1>
</div>
</body>
</html>